#d1{
  margin-bottom: 10px;
}
#container{
  margin-top: 10%;
  margin-left: 30%;
}
.result{
  box-sizing: border-box;
  width: 800px;
  padding-left: 30px;
}
button{
  width: 100px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  background-color: aqua;
  border-radius: 5px;
  border: 1 solid;
}
p,h3, .switch{
  color: forestgreen;
}
p{
  font-size: 30px;
}
.heading{
  font-family: 'Pacifico', cursive;
  font-size: 35px;
  display: flex;
  justify-content: center;
}